<launch>
  <!-- Name of robot -->
  <rosparam param="robot_name"> "Orbot" </rosparam>
  <!-- Orbital Period, seconds -->
  <rosparam param="sim_period"> 5236 </rosparam>
  <!-- Mass of spacecraft -->
  <rosparam param="mass"> 30 </rosparam>

  <node pkg="robot_estimator"
    type="simulator_node"
    name="simulator_node"
    output="screen">
  </node>
  
  <node pkg="robot_estimator"
    type="estimator_node"
    name="estimator_node"
    output="screen">
  </node>
</launch>
